h1 {
    color: darkgreen;
}
a {
    display: block;
    color: #9a16f0;
    font-size: 16px;
    width: fit-content;
    margin-top: 10px;
}
img {
    border: solid black 1px;
    border-radius: 50%;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgoldenrodyellow;
}
h2 {
    text-decoration: underline;
    color: darkgreen;
}
p {
    font-size: 20px;
}